.career {
    padding-top: 80px;
    padding-bottom: 60px;
    @include md {
        padding-bottom: 40px;
    }
    @include lg {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__content {
        margin-bottom: 40px;
        @include md {
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr min-content;
            grid-template-areas: 
            'title link'
            'description .';
            gap: 24px 21px;
        }
        @include lg {
            margin-bottom: 50px; 
            grid-template-columns: 720px min-content;
            gap: 40px;
        }
        @include xl {
            grid-template-columns: 690px min-content;
        }
    }
    &__title {
        font-weight: 1000;
        font-size: 32px;
        line-height: 1;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 24px;
        @include md {
            grid-area: title;
            margin-bottom: 0;
        }
        @include lg {
            font-size: 52px;
        }
    }
    &__description {
        margin-bottom: 24px;
        @include md {
            grid-area: description;
            margin-bottom: 0;
        }
        @include lg {
            font-size: 20px;
        }
    }
    &__link {
        @include md {
            grid-area: link;
            align-self: start;
        }
    }
    &__image {
        border-radius: 16px;
        &-list {
            align-items: center;
        }
        &-item {
            @include sm {
                width: 48%;
            }
            @include md {
                &_odd {
                    width: 34%;
                }
                &_even {
                    width: 25%;
                }
            }
            @include xl {
                &_odd {
                    width: 27%;
                }
                &_even {
                    width: 19%;
                }
            }
        }
    }
    &__slider-pagination {
        @include sm {
            display: none;
        }
    }
}

