.navigation {
    &__list {
        display: none;
        position: absolute;
        overflow-y: auto;
        background-color: $black;
        color: $white;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        padding-top: 100px;
        padding-bottom: 120px;
        text-align: center;
        @include lg {
            padding-top: 126px;
            padding-bottom: 126px;
        }
        @include xl {
            position: static;
            height: auto;
            padding: 0;
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }
    &__item {
        padding-top: 20px;
        padding-bottom: 20px;
        @include xl {
            padding-bottom: 0;
            padding-bottom: 0;
        }
    }
    &__link {
        font-weight: 1000;
        font-size: 16px;
        line-height: 1;
        padding: 20px 0;
        white-space: nowrap;
        outline: 2px solid transparent;
        outline-offset: 5px;
        padding: 20px 40px;
        
        &:hover {
            color: $yellow;
        }
        &:focus:not(:hover) {
            outline-color: $yellow;
        }
        &_active {
            color: $yellow;
            pointer-events: none;
        }
        @include xl {
            display: block;
            color: $white;
            padding: 15px 30px;
            border: 2px solid $yellow;
            background: transparent;
            border-radius: 80px;
            outline: none;
            &:hover {
                color: $yellow;
            }
            &:focus:not(:hover) {
                color: $white;
                background: $yellow;
            }
            &:disabled {
                border-color: #C2C2C2;
                color: #C2C2C2;
            }
            &_active {
                color: $white;
                background: $yellow;
            }
        }
    }
    &__button {
        display: block;
        width: 36px;
        height: 36px;
        background: url('../img/menu.svg') center/contain;
        @include lg {
            width: 50px;
            height: 50px;
        }
        @include xl {
            display: none;
        }
        &_active {
            display: block;
            width: 36px;
            height: 36px;
            background: url('../img/close.svg') center/contain;
            @include lg {
                width: 50px;
                height: 50px;
            }
        }
    }
}